# Ignore some .idea files (https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems):

**/.idea/tasks.xml
**/.idea/workspace.xml
**/.idea/misc.xml

# Python turds

**/*.pyc

# Emacs turds

**/*.*~
